body {
    background-color: #efefbb;
background-attachment: fixed;
background-size: cover;
}
.padre {
    
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
    padding-bottom: 2px;
    border-bottom: solid 2px;

}
.hijo {
    border: solid 3px;
    width: 120px;
}