*
{
	margin: 0;
	padding:0;
	box-sizing: border-box;
    
}
.navbar {
    background-color: rgb(5, 37, 37);
    color: ghostwhite;
     font-size: medium;
}
.dives {
    margin-left: 60px;
}
.textocarru {
    text-align: right;
    width: 400px;
    height: 200px;
    
    position: absolute;
    margin: 55%;
    margin-top: 40%;
    
    
}
.textcentral p {
    margin-top: 1em;
    justify-content: center;
}
.textcentral h2 {
    justify-content: center;
    margin-top: -1em;
}
#cajacard {
  padding-left: 15%;
  padding-right: 15%;
    color: black;
    background-color: #ffffff;
   
}
#teximg {
    background-color: rgb(5, 37, 37);
    color: rgb(167, 189, 189);
    font-size: small;
}
.textcentral {
    width: 100%;
    

   background-color: #ffffff;
   display: flex;
   justify-content: center;

}
.textocen {
margin-left: auto;
margin-right: auto;
    color: black;
    
}
footer {
    background-color: blue;
}
.foopadre {
  display: flex;
  background-color: rgb(54, 45, 45);
  color: #ffffff;
  padding: 12px;
 
  
  
    
}
.foohijo {
    display: flex;
    align-items: flex-start;
    margin-left: 10px;
    
}
.item {
    color: #ffffff;
    margin: 20px;
}
.formcompra {
    background-color: #ffffff;
    margin-right: 20%;
    margin-left: 20%;
}
.grid {
    display: flex;
    justify-content: center;
    text-align: center;
    
}
#cajaestudiante {
    width: 13em;
    height: 10em;
    border: solid 2px blue;
    margin-right: 2em;

}
#cajatrainee {
    width: 13em;
    height: 10em;
    border: solid 2px greenyellow;
    margin-right: 2em;

}
#cajajunior {
    width: 13em;
    height: 10em;
    border: solid 2px rgb(255, 217, 47);
    

}
.cajainput {
    width: 40em;
    margin-left: 19%;
    margin-right: 19%;
    display: flex;
    flex-direction: column;
   
    text-align: center;
    
}